
{% include 'base.html' %}
{% load static %}
{% include 'navigation.html' %}

<div>
    <h2>View Appointment</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>AppointmentID</th>
                <th>Doctor</th>
                <th>Patient</th>
                <th>Date</th>
                <th>Time</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{appointment.id}}</td>
                <td>{{appointment.Doctor.Name }}</td>
                <td>{{appointment.Patient.Name}}</td>
                <td>{{appointment.date}}</td>
                <td>{{appointment.time}}</td>
                <td>
                    <a href="{% url 'delete_appointment' appointment.id %}" onclick="return confirm('Are you sure want to delete?')" class="btn btn-danger">Delete</a>
                </td>
                
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
{% include 'footer.html' %}